# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules/
.pnp
.pnp.js

# Build output
dist/
build/
.out/
.next/
nuxt/

# Misc
.DS_Store
*.pem
.env
.env.*
!.env.example

# Debug
npm run dev -- --open
debug.log*

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.sublime-*

# OS
Thumbs.db
